    body {
        background-image: url("../images/moon\ and\ mars.jpg");
        background-repeat: repeat;
        /* background-repeat: repeat-y; */
    }
    
    .mars {
        color: rgba(117, 163, 224, 0.89);
    }
    
    .moon {
        color: rgba(163, 212, 84, 0.863);
    }
    
    .ticket-section {
        background-color: rgba(62, 241, 232, 0.342);
    }
    
    .add-btx,
    .delete-btn {
        background-color: #544ae7a6;
        border: 1px solid rgb(214, 166, 34);
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        border-radius: 30px;
    }
    
    .delete-btn {
        background-color: rgba(255, 0, 64, 0.658);
    }